<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Colored Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/css/font.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/myfolder.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/myworking.css">
    <script src="~/Scripts/js/jquery2.0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/basictable.css" />
    <script type="text/javascript" src="~/Scripts/js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
    </script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }

            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>

</head>
<body class="dashboard-page">
    @*<script>
        var theme = $.cookie('protonTheme') || 'default';
        $('body').removeClass(function (index, css) {
            return (css.match(/\btheme-\S+/g) || []).join(' ');
        });
        if (theme !== 'default') $('body').addClass(theme);
    </script>*@
    @{
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
        string actionName = ViewContext.RouteData.Values["action"].ToString();
    }
    <nav class="main-menu">
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-home nav_icon"></i>
                    <span class="nav-text">
                        Trang Chủ
                    </span>
                </a>
            </li>
            <li>
                <a href="folderManager.html">
                    <i class="fa fa-folder-open nav_icon"></i>
                    <span class="nav-text">
                        Thư Mục
                    </span>
                </a>
            </li>
            <li>
                <a href="statistical.html">
                    <i class="fa fa-bar-chart nav_icon"></i>
                    <span class="nav-text">
                        Thống Kê
                    </span>
                </a>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="fa fa-calendar nav_icon"></i>
                    <span class="nav-text">
                        Lịch Biểu
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Note")">
                    <i class="fa fa-sticky-note nav_icon"></i>
                    <span class="nav-text">
                        Ghi Chú
                    </span>
                </a>
            </li>
            <li>
                <a href="grouppage.html">
                    <i class="fa fa-commenting nav_icon"></i>
                    <span class="nav-text">
                        Nhóm
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","ManagementProtfolio")">
                    <i class="fa fa-address-card-o"></i>
                    <span class="nav-text">
                        Danh mục quản lý
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <section class="wrapper scrollable">
        <nav class="user-menu">
            <a href="javascript:;" class="main-menu-access">
                <i class="icon-proton-logo"></i>
                <i class="icon-reorder"></i>
            </a>
        </nav>
        <section class="title-bar">
            <div class="logo">
                <h1><a href="index.html"><img class="img-responsive" src="~/Content/images/logo-hitech.png" alt="" /></a></h1>
            </div>
            <div class="header-right">
                <div class="profile_details_left">
                    <div class="header-right-left">
                        <ul class="nofitications-dropdown"> 
                            @if (controllerName.Equals("Home") && actionName.Equals("Index"))
                            {
                                <li class="dropdown head-dpdn" style="margin-right:20px"><a href="javascript:;" class="a-hover-pointer"><img src="~/Content/images/project-32.png" title="công việc thường" /></a></li>
                                <li class="dropdown head-dpdn"><a href="javascript:;" onclick="openModalListProject();" class="a-hover-pointer"><i class="fa fa-list-alt" title="Công việc theo dự án" style="font-size: 30px;"></i></a></li>
                            }
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                                <ul class="dropdown-menu anti-dropdown-menu w3l-msg">
                                    <li>
                                        <div class="notification_header">
                                            <h3>Bạn có 3 tin nhắn chưa đọc</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/1.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li class="odd">
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/2.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/3.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">Hiển thị tất cả</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                                <ul class="dropdown-menu anti-dropdown-menu agile-notification">
                                    <li>
                                        <div class="notification_header">
                                            <h3>Bạn có 3 thông báo</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/2.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li class="odd">
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/1.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/3.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">Hiển thị tất cả</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown head-dpdn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bullhorn"></i><span class="badge blue">3</span></a>
                                <ul class="dropdown-menu anti-dropdown-menu agile-notification">
                                    <li>
                                        <div class="notification_header">
                                            <h3>Bạn có 3 thông báo</h3>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/2.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet</p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li class="odd">
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/1.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="user_img"><img src="~/Content/images/3.png" alt=""></div>
                                            <div class="notification_desc">
                                                <p>Lorem ipsum dolor amet </p>
                                                <p><span>1 hour ago</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#">Hiển thị tất cả</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <img src="~/Content/images/3.png" class="img-responsive" alt="">
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li> <a href="timeline.html"><i class="fa fa-user"></i>Trang Cá Nhân</a> </li>
                                    <li> <a href="@Url.Action("Index","Infomation")"><i class="fa fa-user"></i> Thông tin</a> </li>
                                    <li> <a href="@Url.Action("ViewChangePassword","Infomation")"><i class="fa fa-cog"></i> Thay đổi mật khẩu</a> </li>
                                    <li> <a href="@Url.Action("logout","Login")"><i class="fa fa-sign-out"></i> Đăng xuất</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </section>
        @RenderBody()

        @*<div class="footer">
                <p>© 2018 HiTech . Đã Đăng Ký Bản Quyền . Thiết kế bởi <a href="index.html">HiTech</a></p>
            </div>*@
        <div class="chat-sidebar-open">
            <span class="text-open-sidebar-chat" style="padding-left: 10px; color: #FFF;">Danh sách chat</span>
            <a class="a-hover-pointer open-chat-sidebar" onclick="openChatSidebar();" title="Mở khung chat"><span><i class="fa fa-chevron-up"></i></span></a>
        </div>
        <div id="chat-sidebar" style="z-index: 2;display: none">
            <div class="chat-sidebar-close  text-left">
                <span style="padding-left: 10px; color: #FFF;" class="text-close-sidebar-chat">Danh sách chat</span>
                <a class="a-hover-pointer close-chat-sidebar" onclick="closeChatSidebar();" title="Đóng khung chat"><span><i class="fa fa-chevron-down"></i></span></a>
            </div>
            <div class="nofitications-dropdown">
                <ul>
                    <li>
                        <a class="a-hover-pointer">
                            <div class="chat-sidebar-avatar">
                                <img src="~/Content/images/3.png" class="img-responsive" alt="avatar">
                            </div>
                            <div class="chat-sidebar-fullname">
                                <span style="font-size: 14px;">Nguyễn Văn Anh</span>
                            </div>
                            <div class="chat-sidebar-status">
                                <span><i class="fa fa-circle" style="font-size: 12px; color: #42b72a;"></i></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="a-hover-pointer">
                            <div class="chat-sidebar-avatar">
                                <img src="~/Content/images/3.png" class="img-responsive" alt="avatar">
                            </div>
                            <div class="chat-sidebar-fullname">
                                <span style="font-size: 14px;">Nguyễn Văn A</span>
                            </div>
                            <div class="chat-sidebar-status">
                                <span><i class="fa fa-circle" style="font-size: 12px; color: #42b72a;"></i></span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="a-hover-pointer">
                            <div class="chat-sidebar-avatar">
                                <img src="~/Content/images/3.png" class="img-responsive" alt="avatar">
                            </div>
                            <div class="chat-sidebar-fullname">
                                <span style="font-size: 14px;">Nguyễn Văn A</span>
                            </div>
                            <div class="chat-sidebar-status">
                                <span><i class="fa fa-circle" style="font-size: 12px; color: #42b72a;"></i></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

       

    </section>
    <script src="~/Scripts/js/jquery2.0.3.min.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <script src="~/Scripts/js/jquery.cookie.js"></script>
    <script src="~/Scripts/js/screenfull.js"></script>
    <script src="~/Scripts/js/lightslider.js"></script>
    <script src="~/Scripts/js/raphael-min.js"></script>
    <script src="~/Scripts/js/morris.js"></script>
    <script src="~/Scripts/js/raphael-min.js"></script>
    <script src="~/Scripts/js/morris.js"></script>
    <script src="~/Scripts/js/skycons.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/myscript.js"></script>
    <script src="~/Scripts/js/myfolder.js"></script>
    <script src="~/Scripts/js/myworking.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.basictable.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
