@model QuanlyCV.Models.ManagerZone
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-grid">
    <div class="agile-grids">
        <!-- input-forms -->
        <div class="grids">
            <div class="progressbar-heading grids-heading">
                <h2>Sửa Thông Tin Chức Vụ</h2>
                <h4 style="color:darkred">@TempData["error"]</h4>
            </div>
            <div class="panel panel-widget forms-panel">
                <div class="forms">
                    <div class="form-grids widget-shadow" data-example-id="basic-forms">
                        <div class="form-title">
                            <h4>Sửa Thông Tin Chức Vụ</h4>
                        </div>
                        <div class="form-body">
                            <form action="@Url.Action("Update","ManagerZones")" method="post">
                                <input type="hidden" name="ManagerZoneId" id="ManagerZoneId" value="@Model.ManagerZoneId" />
                                <div class="form-group">
                                    <label for="ManagerZoneName">Tên chức vụ</label>
                                    <input type="text" name="ManagerZoneName" class="form-control" id="ManagerZoneName" placeholder="Tên chức vụ" required value="@Model.ManagerZoneName">
                                </div>
                                <div class="form-group">
                                    <label for="ManagerZoneStatus">Trạng thái</label>
                                    <select name="ManagerZoneStatus" class="form-control">
                                        <option value="1" @(Model.ManagerZoneStatus == 1 ? "selected" : "")>Kích hoạt</option>
                                        <option value="2" @(Model.ManagerZoneStatus == 2 ? "selected" : "")>Không kích hoạt</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-default w3ls-button">Cập nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //input-forms -->
    </div>
</div>

