@model IEnumerable<QuanlyCV.Models.Permission>

        <div class="table-heading">
            <h2>Danh Sách Quyền</h2>
            <h4 style="color:darkred">@TempData["error"]</h4>
        </div>
        <a onclick="CreatePermissions(this)"><img src="~/Content/images/add-member-icon-32.png" /></a>
        <select id="find-by-ManagerZone" style="padding:5px;" onchange="findByManagerZone(this)">
            <option value="0">Lọc theo Khu Vực</option>
            @foreach (var item in ViewBag.ManagerZone)
            {
                <option value="@item.ManagerZoneId">@item.DisplayNameController</option>
            }
        </select>
        <a class="text-right" onclick="BackManagerZones(this)">Các Khu Vực</a>
        <div class="agile-tables">
            <div class="w3l-table-info tbl-list-Permisstion">
                <table id="table">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Tên Quyền</th>
                            <th class="text-center">Tên Quyền Tiếng Việt</th>
                            <th class="text-center">Tên Khu Vực Của Quyền</th>
                            <th class="text-center">Trạng Thái</th>
                            <th class="text-center">Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var stt = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@stt</td>
                                <td class="text-center">@item.PermissionName</td>
                                <td class="text-center">@item.DisplayNameAction</td>
                                @foreach (var item1 in ViewBag.ManagerZone)
                                {
                                    if (item.ManagerZoneID == item1.ManagerZoneName)
                                    {
                                        <td>@item1.DisplayNameController</td>
                                    }
                                }
                                <td class="text-center">
                                    @if (item.PermissionStatus == 1)
                                    {
                                        <i class="fa fa-check" style="font-size: 20px; color: green;">Đang bật</i>
                                    }
                                    else
                                    {

                                        <i class="fa fa-times" style="font-size: 20px; color: red;">Đang tắt</i>
                                    }
                                </td>
                                <td class="text-center">
                                    <ul style="display: flex; flex-direction: row; list-style: none; justify-content: center;">
                                        <li><a onclick="ViewUpdatePermissions(this)" data-id = "@item.PermissionId" title="Chi tiết"><img src="~/Content/images/detail-icon-24.png" alt="Chi tiết" class="img-responsive"></a></li>
                                        <li><a onclick="DeletePermissions(this)" data-id = "@item.PermissionId" title="Xóa"><img src="~/Content/images/delete-icon-24.png" alt="xóa"></a></li>
                                    </ul>
                                </td>
                            </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- //tables -->

