@{
    ViewBag.Title = "Nhóm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <style>
        .selected-image img {
            /*width: 100%;*/
            height: 100%;
            border: none;
        }
    </style>
}
<div class="main-grids">
    <div class="agile-grids">
        <!-- Phần này cho main grouppage -->
        <div id="warpper-group">
            <div class="col-xs-12 col-md-3">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="group-left">
                            <div class="group-name">
                                @foreach (var item in ViewBag.Group)
                                {
                                    <h3>@item.GroupName</h3>
                                    <a href=""><i class="fa fa-lock"></i>@(item.GroupType == 1 ? "Công Khai" : "Riêng Tư")</a>
                                }

                            </div>
                            <div class="list-action">
                                <ul>
                                    <li><a href="#">Thảo Luận</a></li>
                                    <li><a href="#">Thông Tin</a></li>
                                    <li><a href="#">Thành Viên</a></li>
                                    <li>
                                        <div class="wrapper-search-group">
                                            <input type="text" name="" placeholder="Tìm kiếm trong nhóm...">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9" style="margin-bottom: 30px;">
                <div class="group-right">
                    <div class="group-right-top">
                        <div class="group-image-cover">
                            <img src="~/Content/images/tuong-giai-an-7.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="group-right-top-action">
                            <ul>
                                <li><a onclick="outGroup(this)">Rời nhóm</a></li>
                                <li><a href="">Nhiều hơn</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="group-create-post">
                        <div class="group-create-post-top">
                            <ul>
                                <li><a href=""><i class="fa fa-pencil"></i>Bài Viết</a></li>
                                <li><a href="">Bài Viết</a></li>
                            </ul>
                        </div>
                        <form action="@Url.Action("createGroup","GroupPage")" method="post" enctype="multipart/form-data">
                            <div class="group-create-post-middle">
                                <input type="hidden" id="" name="GroupId" value="@ViewBag.GroupId" />
                                <div class="container-create-post">
                                    <div class="container-create-post-content" style="width:100%;display: flex;">
                                        <img src="~/Content/images/avatar/@ViewBag.Employee.EmployeeAvatar" class="img-responsive" alt="">
                                        <textarea name="PostContent" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Bạn đang gặp khó khăn gì..."></textarea>
                                    </div>
                                </div>
                                <div class="selected-image" >
                                    <img />
                                </div>
                            </div>
                            <div class="group-create-post-bottom">
                                <ul>
                                    <li>
                                        <input type="file" id="upload" name="uploadGroup" style="visibility: hidden; width: 1px; height: 1px" />
                                        <a onclick="document.getElementById('upload').click(); return false" href="" class="a-hover-pointer"><i class="fa fa-file-image-o"></i>Ảnh</a>
                                    </li>
                                    <li><a href="#" class="a-hover-pointer"><i class="fa fa-smile-o"></i>Cảm Xúc</a></li>
                                    <li><a href="#" class="a-hover-pointer"><i class="fa fa-tags"></i>Tag</a></li>
                                </ul>
                                <input type="submit" class="a-hover-pointer btn-post text-center" name="name" value="Đăng bài" />
                            </div>
                        </form>
                    </div>

                    <div class="container-group-item">
                        @foreach (var item in ViewBag.listPost)
                        {
                            <div class="timeline-item">
                                <div class="timeline-item-title">
                                    <div class="timeline-item-title-avatar">
                                        <img src="~/Content/images/avatar/@item.EmployeeAvatar" class="img-responsive" alt="avatar">
                                    </div>
                                    <div class="timeline-item-title-event">
                                        <div>
                                            <a href="#" class="a-hover-underline">@item.EmployeeFullname</a>
                                            <span> Đã đăng một nội dung</span>
                                        </div>
                                        <span>Thời gian: @item.PostedTime.ToString("yyyy-MM-dd") </span>
                                    </div>
                                </div>
                                <div class="timeline-item-text">
                                    <span>
                                        @item.PostContent
                                    </span>
                                </div>
                                <div class="timeline-item-image">
                                    @if (item.PostImages != "1")
                                    {
                                        <img src="~/Content/Uploads/Group/@item.PostImages" class="img-responsive" alt="Hình ảnh">
                                    }
                                </div>
                                <div class="timeline-item-list-like">
                                    <img src="~/Content/images/facebook-like-icon.png" class="img-responsive" alt="like">
                                    @foreach (var item1 in ViewBag.listLike)
                                    {
                                        if (item.PostId == item1.PostId)
                                        {
                                            <a class="a-hover-pointer a-hover-underline list-like"> @item1.EmployeeFullname, </a>
                                        }

                                    }
                                </div>
                                <div class="timeline-item-action">
                                    <ul>
                                        <li>
                                            @{var bl = false;
                                                foreach (var item1 in ViewBag.listLike)
                                                {
                                                    if (item1.EmployeeId == ViewBag.EmployeeId && item1.PostId == @item.PostId)
                                                    {
                                                        if (bl == false)
                                                        {
                                                            <a class="a-hover-pointer like" onclick="likeTimeline(this)" data-id="@item.PostId" style="background-color:black"><i class="fa fa-thumbs-up"></i>Thích</a>
                                                            bl = true;
                                                        }
                                                    }
                                                }
                                                if (bl == false)
                                                {
                                                    <a class="a-hover-pointer unlike" onclick="likeTimeline(this)" data-id="@item.PostId" style="background-color:transparent"><i class="fa fa-thumbs-up"></i>Thích</a>
                                                }
                                            }
                                        </li>
                                        <li><a class="a-hover-pointer"><i class="fa fa-comment-o"></i>Bình Luận</a></li>
                                        <li><a class="a-hover-pointer"><i class="fa fa-share"></i>Chia Sẻ</a></li>
                                    </ul>
                                </div>
                                <div class="timeline-item-comment">


                                    <ul class="comment-level-1">
                                        <li class="lst-Comment-Post-@item.PostId">
                                            @foreach (var lstComment in ViewBag.lstCommentByGroup)
                                            {
                                                if (lstComment.PostId == item.PostId)
                                                {
                                                    if (lstComment.ParentId == 0)
                                                    {
                                                        <div class="comment-item comment-post">

                                                            <div class="comment-avatar">
                                                                <img src="~/Content/images/avatar/@lstComment.EmployeeAvatar" class="img-responsive" alt="avatar">
                                                            </div>
                                                            <div class="comment-content">

                                                                <div class="">
                                                                    <a href="" class="a-hover-underline coment-content-fullname">@lstComment.EmployeeFullname</a>
                                                                    <span class="coment-content-text">@lstComment.CommentContent</span>
                                                                </div>
                                                                <div class="comment-content-action">
                                                                    <a class="a-hover-pointer a-hover-underline">Thích</a>
                                                                    <a class="a-hover-pointer a-hover-underline">Bình luận</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        foreach (var lstComment1 in ViewBag.lstCommentByGroup)
                                                        {
                                                            if (lstComment1.ParentId == lstComment.CommentId)
                                                            {
                                                                <ul class="comment-level-2">
                                                                    <li>
                                                                        <div class="comment-item lst-SubComment-Post-@item.PostId">

                                                                            <div class="comment-avatar">
                                                                                <img src="~/Content/images/avatar/@lstComment1.EmployeeAvatar" class="img-responsive" alt="avatar">
                                                                            </div>
                                                                            <div class="subcomment-content-post">
                                                                                <div>
                                                                                    <a href="" class="a-hover-underline coment-content-fullname">@lstComment1.EmployeeFullname</a>
                                                                                    <span class="coment-content-text">@lstComment1.CommentContent</span>
                                                                                </div>
                                                                                <div class="comment-content-action">
                                                                                    <a class="a-hover-pointer a-hover-underline">Thích</a>
                                                                                    <a class="a-hover-pointer a-hover-underline">Bình luận</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            }
                                                        }
                                                        <div class="wrapper-input-comment" style="margin-left: 60px;">
                                                            <img src="~/Content/images/avatar/@ViewBag.Employee.EmployeeAvatar" class="img-responsive" alt="">
                                                            <div class="input-comment">
                                                                <textarea name="" rows="1" onkeyup="textAreaAdjust(this)" class="Content-SubComment-Post-@lstComment.CommentId" style="overflow:hidden"></textarea>
                                                                <ul class="input-comment-level-2-icon">
                                                                    <li><a class="a-hover-pointer"><i class="fa fa-smile-o"></i></a></li>
                                                                    <li><a class="a-hover-pointer"><i class="fa fa-picture-o"></i></a></li>
                                                                    <li><a class="a-hover-pointer" data-id="@item.PostId" data-content="@lstComment.CommentId" onclick="submitSubCommentPost(this)"><i class="fa fa-paper-plane-o"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </li>
                                    </ul>
                                    <div class="wrapper-input-comment" style="margin-top: 20px;">
                                        <img src="~/Content/images/avatar/@ViewBag.Employee.EmployeeAvatar" class="img-responsive" alt="">
                                        <div class="input-comment">
                                            <textarea name="" rows="1" onkeyup="textAreaAdjust(this)" id="Content-Comment-Post-@item.PostId" style="overflow:hidden"></textarea>
                                            <ul class="input-comment-level-2-icon">
                                                <li><a class="a-hover-pointer"><i class="fa fa-smile-o"></i></a></li>
                                                <li><a class="a-hover-pointer"><i class="fa fa-picture-o"></i></a></li>
                                                <li><a class="a-hover-pointer" data-id="@item.PostId" onclick="submitCommentPost(this)"><i class="fa fa-paper-plane-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                }
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function outGroup(e) {
            swal({
                title: "Bạn Có Muốn Rời Khỏi Nhóm Không?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
             .then((willDelete) => {
                 if (willDelete) {
                     $.ajax({
                         type: "POST",
                         url: "@Url.Action("outGroup", "GroupPage")",
                         data: {},
                         success: function (rps) {
                             location.reload()
                         }
                     });
                 } else {
                     return false;
                 }
             });
        }
        $("#upload").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = $('<img>').attr('src', e.target.result);
                    $('.selected-image').html(img);
                };
                reader.readAsDataURL(this.files[0]);
            }
        });
        function likeTimeline(e) {

            var PostId = $(e).data("id");
            if ($(e).hasClass("unlike")) {
                $(e).removeClass("unlike");
                $(e).addClass("like");
                $(e).css("background-color", "black");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("LikePost", "GroupPage")",
                    data: { id: PostId },
                    success: function (rps) {
                        $(e).parents(".timeline-item-action").siblings(".timeline-item-list-like").html(rps);
                    }
                });

            } else {
                $(e).removeClass("like");
                $(e).addClass("unlike");
                $(e).css("background-color", "transparent");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("unLikePost", "GroupPage")",
                    data: { id: PostId },
                    success: function (rps) {
                        $(e).parents(".timeline-item-action").siblings(".timeline-item-list-like").html(rps);
                    }
                });
            }

        }
        function submitCommentPost(e) {
            var PostId = $(e).data("id");
            var content = $("#Content-Comment-Post-" + PostId).val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("CommentPost", "GroupPage")",
                data: { id: PostId, content: content },
                success: function (rps) {
                    $(".lst-Comment-Post-" + PostId).html(rps);
                }
            });
            $("#Content-Comment-Post-" + PostId).val("");
        }
        function submitSubCommentPost(e) {
            var PostId = $(e).data("id");
            var CommentId = $(e).data("content");
            var content = $(".Content-SubComment-Post-" + CommentId).val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("SubCommentPost", "GroupPage")",
                data: { id: PostId, content: content, CommentId: CommentId },
                success: function (rps) {
                    $(".lst-Comment-Post-" + PostId).html(rps);
                }
            });
            $(".Content-SubComment-Post-" + CommentId).val("");
        }
    </script>
}
