
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-grid">
    <div class="div-thanh-trang-thai">
        <div class="social grid">
            <div class="grid-info">
                <div class="col-md-3 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments likes" onclick="setContentForSlide('.likes');">
                            <div class="comments-icon">
                                <i class="fa fa-calendar-minus-o"></i>
                            </div>
                            <div class="comments-info likes-info">
                                <h3>95K</h3>
                                <span style="color: #6C8CD0;">Đang làm</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments comments-bg" onclick="setContentForSlide('.comments-bg');">
                            <div class="comments-icon">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="comments-info">
                                <h3>12K</h3>
                                <span style="color: #FFCC66;">Đang Chậm</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments tweets" onclick="setContentForSlide('.tweets');">
                            <div class="comments-icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="comments-info tweets-info">
                                <h3>27K</h3>
                                <span style="color: #ff8888;">Quá Hạn</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments views" onclick="setContentForSlide('.views');">
                            <div class="comments-icon">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>
                            <div class="comments-info views-info">
                                <h3>557K</h3>
                                <span style="color: #07CEB0">Hoàn Thành</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div>
            <a href="" data-toggle="modal" data-target="#ModalAddNewWork" title="Thêm mới công việc" class="a-chon-ngay-thang">Chọn Tháng</a>
        </div>
        <div class="modal fade" id="ModalAddNewWork" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content-add-new-work">
                    <div class="modal-header-add-new-work">
                        <h5 class="modal-title" id="exampleModalLabel" style="float: left; font-weight: bold;">Chọn Tháng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" onsubmit="loadListProject(event)">
                            <div class="form-group">
                                <label style="float: left;" for="recipient-name" class="col-form-label">Chọn Tháng</label>
                                <select name="month" id="month" class="form-control">
                                    <option value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <label style="float: left;" for="recipient-name" class="col-form-label">Chọn Năm</label>
                                <select name="year" id="year" class="form-control">
                                    <option value=""></option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" width 80px;">Đóng</button>
                                <input type="submit" class="btn btn-primary" value="Chọn" style="background-color: green;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="agile-grids">
        <div class="index-slide-jobs">
            <div class="item-slide-job">
                <div class="lSSlideOuter ">
                    <div class="lSSlideWrapper usingCss">
                        <ul id="content-slider" class="content-slider lightSlider lsGrab lSSlide ul-slide-danh-sach-cong-viec">
                            @foreach (var item1 in ViewBag.ProjectMembers)
                            {
                                foreach (var item in ViewBag.listProject)
                                {
                                    if (item1.ProjectId == item.ProjectId)
                                    {
                                        <li class="li-slide-danh-sach-cong-viec" data-id="@item.ProjectId" onclick="ClickProject(this)">
                                            <div class="working-slide-item">
                                                <div class="working-slide-item-name">
                                                    <h3>@item.ProjectName</h3>
                                                </div>
                                                <div class="working-slide-item-time">
                                                    <span>Thời gian: </span>@item.StartTime.ToString("yyyy-MM-dd") - @item.EndTime.ToString("yyyy-MM-dd")
                                                </div>
                                                @*<div class="working-slide-item-progress">
                                                        <p><span>Tiến độ: </span>3/10</p>
                                                    </div>*@
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul><div class="lSAction"><a class="lSPrev"></a><a class="lSNext"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>

    <div class="agile-bottom-grids">
        <!-- Phần này cho quy trình công việc -->
        <div id="progress-working" class="tbl-Statistical" style="background-color: transparent;">

        </div>
    </div>
</div>
@* Model Thông kê *@
<div id="modalDetailWork" class="modal">
    
</div>
@section scripts{
    <script>
        $("#content-slider").lightSlider({
            loop: true,
            keyPress: true
        });

        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });

        function loadListProject(e) {
            e.preventDefault();
            var month = $("#month").val();
            var year = $("#year").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAllProjectByYearAndMonth","Statistical")",
                data: { month: month, year: year },
                success: function (rps) {
                    //$("#ModalAddNewWork").modal('toggle');
                    $(".agile-grids").html(rps);
                }
            });

        }
        function ClickProject(e) {
            var id = $(e).data("id");
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadListEmployeeByProject","Statistical")",
                data: { id: id },
                success: function (rps) {
                    $(".tbl-Statistical").html(rps);
                }
            });
        }

        function openModalDetailWork(e) {
            var ProjectId = $(e).data("id");
            var EmployeeId = $(e).data("content");
            var modalDetailWork = document.getElementById('modalDetailWork');
            var closeModalDetailWork = document.getElementsByClassName("closeModalDetailWork")[0];
            modalDetailWork.style.display = "block";
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadModelDetailWork","Statistical")",
                data: { ProjectId: ProjectId, EmployeeId: EmployeeId },
            success: function (rps) {
                $("#modalDetailWork").html(rps);
            }
        });
            //closeModalDetailWork.onclick = function () {
            //    modalDetailWork.style.display = "none";
            //}
            window.onclick = function (event) {
                if (event.target == modalDetailWork) {
                    modalDetailWork.style.display = "none";
                }
            }
        }
    </script>
}