@{
    ViewBag.Title = "Trang chủ";
}
<div class="main-grid">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div class="social grid">
            <div class="grid-info">
                <div class="col-md-2 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments likes" onclick="setContentForSlide('.likes');">
                            <div class="comments-icon">
                                <i class="fa fa-calendar-minus-o"></i>
                            </div>
                            <div class="comments-info likes-info">
                                <h3>95K</h3>
                                <span style="color: #6C8CD0;">Đang làm</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments comments-bg" onclick="setContentForSlide('.comments-bg');">
                            <div class="comments-icon">
                                <i class="fa fa-hourglass-start"></i>
                            </div>
                            <div class="comments-info">
                                <h3>12K</h3>
                                <span style="color: #FFCC66;">Đang Chậm</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments tweets" onclick="setContentForSlide('.tweets');">
                            <div class="comments-icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="comments-info tweets-info">
                                <h3>27K</h3>
                                <span style="color: #ff8888;">Quá Hạn</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments views" onclick="setContentForSlide('.views');">
                            <div class="comments-icon">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>
                            <div class="comments-info views-info">
                                <h3>557K</h3>
                                <span style="color: #07CEB0">Hoàn Thành</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 top-comment-grid">
                    <a class="a-hover-pointer">
                        <div class="comments box" onclick="setContentForSlide('.box');">
                            <div class="comments-icon">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="comments-info box-info">
                                <h3>57K</h3>
                                <span style="color: #bfbf35">Dự kiến</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a href="" data-toggle="modal" data-target="#ModalAddNewWork" title="Thêm mới công việc"><img src="~/Content/images/add-48.png" alt=""></a>
        </div>

    </div>
    <div class="agile-grids">
        <div class="index-slide-jobs">
            <div class="item-slide-job">
                <ul id="content-slider" class="content-slider">
                    @foreach (var item1 in ViewBag.ProjectMembers)
                    {
                        foreach (var item in ViewBag.listProject)
                        {
                            if (item1.ProjectId == item.ProjectId)
                            {
                                <li data-id="@item.ProjectId" onclick="chooseProject(this)">
                                    <div class="working-slide-item">
                                        <div class="working-slide-item-name">
                                            <h3>@item.ProjectName</h3>
                                        </div>
                                        <div class="working-slide-item-time">
                                            <span>Thời gian: </span>@item.StartTime.ToString("yyyy-MM-dd") - @item.EndTime.ToString("yyyy-MM-dd")
                                        </div>
                                        @*<div class="working-slide-item-progress">
                                                <p><span>Tiến độ: </span>3/10</p>
                                            </div>*@
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="agile-bottom-grids">
        <div id="progress-working">

        </div>
    </div>
</div>

@* phần model *@
<div id="ModalEditSubContent" class="modal">
    <div class="modal-content" style="width: 200px;">
        <span class="ModalEditSubContentclose">&times;</span>
        <br />
        <div class="margin-top-10">
            <ul>
                <li><a href="javascript:;" title=""><i class="fa fa-pencil"></i>Xóa</a></li>
                <li><a href="javascript:;" title=""><i class="fa fa-pencil"></i>Di chuyển</a></li>
                <li><a href="javascript:;" title=""><i class="fa fa-pencil"></i>Action</a></li>
                <li><a href="javascript:;" title=""><i class="fa fa-pencil"></i>Action</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDetailWork" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content-add-new-work">
            <div class="modal-header-add-new-work">
                <img class="modal-title" id="exampleModalLabel" style="float: left; " src="Content/images/icon-card-32.png" /><textarea class="textarea-rows-1" rows="1">Tên công việc</textarea>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p style="font-size: 16px;margin:0 40px;">Trong quy trình:<a id="btnModalCanLam" onclick="openModalCanLam()"> Quy trình 1</a></p>
                <div id="ModalCanLam" class="modal">
                    <div class="modal-content">
                        <span class="ModalCanLamclose">&times;</span>
                        <p>Di chuyển thẻ</p>
                        <hr />
                        <div>
                            <form>
                                <div class="div-column-modal-can-lam">
                                    <label><b>Bảng</b></label>
                                    <select style="border: none;background: #d9dee2; overflow: hidden; ">
                                        <optgroup label="Bảng">
                                            <option>A</option>
                                            <option>Bảng không có tiêu đề</option>
                                        </optgroup>
                                    </select>
                                </div>

                                <div class="div-row-modal-can-lam">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 div-sub-div-row-modal-can-lam">
                                        <label><b>Danh Sách</b></label>
                                        <select class="select-div-row-modal-can-lam">
                                            <option>Cần làm</option>
                                            <option>Đang làm</option>
                                            <option>Đã làm</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="flex-direction: column;display: flex;">
                                        <label><b>Vị Trí</b></label>
                                        <select class="select-div-row-modal-can-lam">
                                            <option>1 </option>
                                        </select>
                                    </div>
                                </div>
                                <input type="submit" value="Lưu" class="input-div-row-modal-can-lam">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <form>
                    <div class="content-modal-add-new-work" style="flex-direction: row;display: flex;">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="width: 100%">
                            <div>
                                <form>
                                    <img src="Content/images/icon-description-32.png" style="float: left;" /><p class="img-p">Mô Tả</p>
                                    <textarea class="input1" rows="3"></textarea>
                                    <div class="form1" id="form1">
                                        <input type="submit" Value="Lưu" class="btn btn-sm btn-success" />
                                        <a onclick="deleteTextarea()"><img src="Content/images/delete-32.png"></a>
                                        <a onclick="openModalTroGiup()" id="btnModalTroGiup" style="float: right;margin-right: 60px;">Trợ giúp định dạng</a>

                                    </div>
                                </form>
                            </div>
                            <div>
                                <img src="Content/images/icon-chat-32.png" style="float: left;" /><p>Thêm Bình Luận</p>
                            </div>
                            <div style="margin-top: 10px;">
                                <div class="div-tron-left">
                                    <span style="font-size: 16px;">PH</span>
                                </div>
                                <form>
                                    <textarea class="textarea-center-body-modal" rows="3"></textarea>
                                    <div class="btn-bottom-textarea">
                                        <a style="padding: 10px" id="btnModalDinhKem" onclick="openModalDinhKem()"><img src="Content/images/icon-dinh-kem-16.png" title="đính kèm" /></a>
                                        <div id="ModalDinhKem" class="modal">
                                            <div class="modal-content">
                                                <span class="ModalDinhKemclose">&times;</span>
                                                <p class="text-center" style="color:#dfe3e6">Đính kèm từ</p>
                                                <hr />
                                                <div>
                                                    <ul>
                                                        <li class="li-modal-dinh-kem">
                                                            <input type="file" id="upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" multiple />
                                                            <span class="a-hover-pointer" onclick="document.getElementById('upload').click(); return false">Máy Tính</span>
                                                        </li>
                                                        <li class="li-modal-dinh-kem">Trello</li>
                                                        <li class="li-modal-dinh-kem">Google Drive</li>
                                                        <li class="li-modal-dinh-kem">Dropbox</li>
                                                        <li class="li-modal-dinh-kem">Box</li>
                                                        <li class="li-modal-dinh-kem">OneDrive</li>
                                                    </ul>
                                                </div>
                                                <hr />
                                                <div>
                                                    <form>
                                                        <span style="color:#6b808c;font-size: 12px;">Đính kèm liên kết</span><br />
                                                        <input class="input-modal-icon-dinh-kem" type="text" name="dinhkem" placeholder="Dán liên kết vào đây" /><br />
                                                        <input class="input1-modal-icon-dinh-kem" type="submit" value="Đính Kèm" />
                                                    </form>
                                                </div>
                                                <hr />
                                                <div>
                                                    <span>
                                                        Mẹo: Với Phần mở rộng, bạn có thể đính kèm các đoạn hội thoại từ Slack, các yêu cầu thực hiện từ GitHub và danh sách khách hàng tiềm năng từ Salesforce.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a style="padding: 10px" id="btnModalTag" onclick="openModalTag()"><img src="Content/images/icon-tag-16.png" title="tag" /></a>
                                        <div id="ModalTag" class="modal">
                                            <div class="modal-content">
                                                <span class="ModalTagclose">&times;</span>
                                                <p class="text-center" style="color:#dfe3e6">Nhắc Tới.....</p>
                                                <hr />
                                                <input class="form-control" type="text" name="" placeholder="Tìm kiếm các thành viên...">
                                                <ul>
                                                    <li>Tất cả thành viên trên thẻ(0)</li>
                                                    <li>Tất cả thành viên trong bảng(0)</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a style="padding: 10px" id="btnModalBieuTuong" onclick="openModalBieuTuong()"><img src="Content/images/icon-cam-xuc-16.png" title="cảm xúc" /></a>
                                        <div id="ModalBieuTuong" class="modal">
                                            <div class="modal-content">
                                                <span class="ModalBieuTuongclose">&times;</span>
                                                <p class="text-center" style="color:#dfe3e6">Biểu Tưởng Cảm Xúc</p>
                                                <hr />
                                                <input class="input-modal-icon-Bieu-Tuong" type="text" name="" placeholder="Tìm biểu tượng cảm xúc...">
                                                <ul>
                                                    <li><img src="Content/images/icon-kinh-32.png" />thumbsup</li>
                                                    <li><img src="Content/images/icon-smile-24.png" />smile</li>
                                                    <li><img src="Content/images/icon-warning-24.png" />warning</li>
                                                    <li><img src="Content/images/icon-kinh-32.png" />sunglasses</li>
                                                    <li><img src="Content/images/icon-check-24.png" />ballot_box_with_check</li>
                                                    <li><img src="Content/images/icon-mat-30.png" />facepalm</li>
                                                </ul>
                                                <hr />
                                                <ul>
                                                    <li>Tải lên biểu tượng cảm xúc</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a style="padding: 10px" id="btnModalThemBang" onclick="openModalThemBang()"><img src="Content/images/icon-card-16.png" title="card" /></a>
                                        <div id="ModalThemBang" class="modal">
                                            <div class="modal-content">
                                                <span class="ModalThemBangclose">&times;</span>
                                                <p class="text-center" style="color:#dfe3e6">Thêm Thẻ Hoặc Bảng</p>
                                                <hr />
                                                <span>Thẻ hoặc Bảng để thêm:</span>
                                                <input class="input-modal-icon-Them-Bang" type="text" name="" placeholder="Tìm các thuật ngữ hoặc URL...">
                                                <span>Các Thẻ: </span>
                                                <ul>
                                                    <li>
                                                        <span>aaaaaa</span><br />
                                                        <span>trong bảng Bảng không có tiêu đề</span>
                                                    </li>
                                                    <li>
                                                        <span>ádasdasd</span><br />
                                                        <span>trong bảng Bảng không có tiêu đề</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <input type="submit" value="Lưu" class="input-form-Them-Binh-Luan" />
                                </form>
                            </div>
                            <div>
                                <img src="Content/images/list-32.png" style="float: left;" /><p style="font-size: 16px;margin-left: 10px;">
                                    Hoạt Động	<a class="btn-show-detail-1" style="float: right;bottom: 30px">Hiện Chi tiết</a>
                                    <a class="btn-show-detail-2 hide" style="float: right;bottom: 30px">Ản Chi tiết</a>
                                </p>

                            </div>
                            <div class="div-detail" style="margin-top: 20px; display:none">
                                <div class="div-tron-left">
                                    <span style="font-size: 16px;">PH</span>
                                </div>
                                <span><b>Phạm Sỹ Hưng </b>đã thêm thẻ này vào danh sách Cần làm</span>
                                <br />
                                <span>7 giờ trước</span>
                                <hr />
                                <div style="width: 100%;height:300px;"></div>
                            </div>
                        </div>
                        <br />
                        <div class="tag-right col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <span>Thêm Thẻ vào</span>
                            <div>
                                <ul>
                                    <li id="btnModalThanhVien" onclick="openModalThanhVien()">
                                        <img src="Content/images/icon-user-16.png" /><p>Thành viên</p>
                                    </li>

                                    <li id="btnModalNhan" onclick="openModalNhan()">
                                        <img src="Content/images/icon-tag-16.png" /><p>Nhãn</p>
                                    </li>

                                    <li id="btnModalThanhVien" onclick="openModalViecCanLam()">
                                        <img src="Content/images/icon-check-16.png" /><p>Việc cần làm</p>
                                    </li>

                                    <li id="btnModalNgayHetHan" onclick="openModalNgayHetHan()">
                                        <img src="Content/images/icon-clock-16.png" /><p>Ngày hết hạn</p>
                                    </li>

                                    <li id="btnModalDinhKem" onclick="openModalDinhKem()">
                                        <img src="Content/images/icon-dinh-kem-16.png" /><p>Đính kèm</p>
                                    </li>
                                </ul>
                            </div>
                            <br />
                            <span>Tính Năng Mở Rộng</span>
                            <div>
                                <a>Nhận Power-Ups</a>
                            </div>
                            <br />
                            <span>Thao tác</span>
                            <div>
                                <ul>
                                    <li id="btnModalCanLam" onclick="openModalCanLam()">
                                        <img src="Content/images/icon-mui-ten-phai-16.png" /><p>Di Chuyển</p>
                                    </li>

                                    <li id="btnModalSaoChep" onclick="openModalSaoChep()">
                                        <img src="Content/images/icon-card-16.png" /><p>Sao Chép</p>
                                    </li>

                                    <li class="li-theo-doi">
                                        <img src="Content/images/icon-view-16.png" /><p>Theo Dõi</p>
                                        <img id="img-theo-doi" src="Content/images/icon-check-24.png" style="margin-left: 50px;display: none" />
                                    </li>
                                    <li class="li-luu-tru">
                                        <img src="Content/images/icon-save-16.png" /><p>Lưu Trữ</p>
                                    </li>
                                    <li id="li-xoa" style="background-color: #eb5a46 ;visibility: hidden">
                                        <img src="Content/images/delete-icon-24.png" /><p>Xóa</p>
                                    </li>
                                </ul>
                            </div>
                            <br />
                            <a>Mở Rộng....</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div id="modal-list-project" class="modal-list-project">
    <div class="modal-list-project-content">
        <span class="close-modal-list-project">&times;</span>
        <div class="clearfix"></div>
        <div class="rows">
            <div class="col col-xs-12">
                <div class="title text-center">
                    <h3>Danh Sách Công Việc</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="modal-list-project-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="working-left">
                            <div class="working-left-top-list-project-year">
                                <ul>
                                    <li>
                                        <a href="javascript:;" title="" class="item-working"><i class="fa fa-folder-o"></i>Dự Án</a>
                                        <div class="list-sub-working">
                                            <ul>
                                                @foreach (var lstProject in ViewBag.lstProjectBYProjectType)
                                                {
                                                <li>
                                                    <a onclick="chooseYear(this)" href="javascript:;" title="" class="item-working" data-id="@lstProject"><i class="fa fa-folder-o"></i><input type="text" name="" value="Năm @lstProject" disabled="" /></a>
                                                </li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalViecCanLam" class="modal">
    <div class="modal-content">
        <span class="ModalViecCanLamclose">&times;</span>
        <p class="text-center" style="color:#cfd6d9">Thêm Danh Sách Công Việc</p>
        <hr />
        <form>
            <span style="color:#7c8f99;font-size: 12px;">Tiêu đề</span>
            <input class="input-modal-Viec-Can-Lam" type="text" name="" placeholder="Tìm kiếm thành viên...." style="background-color: #ebeef0;">
            <br />
            <input class="input-modal-Viec-Can-Lam" type="submit" value="Thêm" style="background-color: #5aac44;color: #fff" />
        </form>
    </div>
</div>

<div class="modal fade" id="ModalAddNewWork" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content-add-new-work">
            <div class="modal-header-add-new-work">
                <h5 class="modal-title" id="exampleModalLabel" style="float: left; font-weight: bold;">Thêm Công Việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("CreateProject","Home")" method="post">
                    <div class="form-group">
                        <label style="float: left;" for="recipient-name" class="col-form-label">Tên Công Việc</label>
                        <input type="text" class="form-control" name="ProjectName" id="ProjectName" required>
                    </div>
                    <div class="form-group">
                        <label style="float: left;" for="recipient-name" class="col-form-label">Phòng Ban và Người Nhận</label>
                        <br />
                        <div class="sub-form-group">
                            @foreach (var lstDepartment in ViewBag.listDepartment)
                            {
                            <ul>
                                <li>
                                    <input class="parent" id="DepartmentId" type="checkbox" name="DepartmentId" value="@lstDepartment.DepartmentId" checked="checked" />@lstDepartment.DepartmentName
                                    <div class="phong-@lstDepartment.DepartmentId" id="lstEmployeeByDepartment">
                                        <ul class="sub-parent" id="sub-parent">
                                            @foreach (var lstEmployee in ViewBag.lstEmployeeByDepartmentId)
                                                {
                                                    if (lstEmployee.DepartmentId == lstDepartment.DepartmentId)
                                                    {
                                                <li>
                                                    <input type="checkbox" name="EmployeeId" value="@lstEmployee.EmployeeId" />@lstEmployee.EmployeeFullname
                                                </li>
                                                    }
                                                }
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="float: left;" for="recipient-name" class="col-form-label">Mô Tả Ngắn</label>
                        <textarea class="form-control" name="ProjectDescription" id="ProjectDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <label style="float: left;" for="recipient-name" class="col-form-label">Loại Công Việc</label>
                        <select name="ProjectTypeId" id="ProjectTypeId" class="form-control" required="required">
                            <option value=""></option>
                            <option value="2">dự án</option>
                            <option value="1">công việc thường</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label style="float: left;" for="message-text" class="col-form-label" min="31-12-1970">Thời Gian Bắt đầu</label>
                        <input type="date" class="form-control" id="StartTime" name="StartTime" required>
                    </div>
                    <div class="form-group">
                        <label style="float: left;" for="message-text" class="col-form-label" min="31-12-1970">Thời Gian Kết Thúc</label>
                        <input type="date" class="form-control" id="EndTime" name="EndTime" required>
                    </div>
                    <div class="form-group">
                        <label style="float: left;" for="message-text" class="col-form-label">Trạng Thái</label>
                        <select class="form-control" id="ProjectStatus" name="ProjectStatus" required>
                            <option></option>
                            <option value="1">Hiển Thị</option>
                            <option value="2">Không Hiển Thị</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" width 80px;">Đóng</button>
                        <input type="submit" class="btn btn-primary" value="Thêm" style="background-color: green;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div id="ModalTroGiup" class="modal">
    <div class="modal-content">
        <span class="ModalTroGiupclose">&times;</span>
        <p class="text-center">Trợ giúp định dạng</p>
        <hr />
        <div>
            <span>
                Trello sử dụng Markdown để định dạng. Sau đây là cách sử dụng cơ bản. Xem <a> cú pháp đầy đủ.</a>
            </span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Tiêu đề đầu tiên</span>
            <span class="span-style-modal-canlam">Making Scrambled Eggs: A Primer</span>
            <span class="span-style-modal-canlam">=============================</span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Tiêu đề Thứ 2</span>
            <span class="span-style-modal-canlam">1.1: Chuẩn bị</span><br />
            <span class="span-style-modal-canlam">----------------</span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Đoạn</span>
            <span class="span-style-modal-canlam">Xuống dòng hai lần để bắt đầu </span><br />
            <span class="span-style-modal-canlam">một đoạn văn mới. Đập 2 quả </span>
            <span class="span-style-modal-canlam">trứng vào bát và đánh đều.</span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">In Đậm</span>
            <span class="span-style-modal-canlam">**Hãy cẩn thận** làm bể quả trứng. </span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Nhán Mạnh</span>
            <span class="span-style-modal-canlam">Đánh trứng mạnh mẽ. </span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Danh sách</span>
            <br />
            <br />
            <span class="span-style-modal-canlam">- Trứng <br /></span><span class="span-style-modal-canlam">- Dầu</span><br /><span class="span-style-modal-canlam">- *Tùy chọn:* sữa</span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Liên kết</span>
            <span class="span-style-modal-canlam">Để tải bản PDF của công thức này, hãy [nhấn vào đây](https://example.com/scrambled-eggs.pdf).</span>
        </div>
        <hr />
        <div>
            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 span-title-color">Hình ảnh</span>
            <span class="span-style-modal-canlam">![Một bữa ăn hoàn thành](https://example.com/eggs.png)</span>
        </div>
    </div>
</div>
<div id="ModalThanhVien" class="modal">
    <div class="modal-content">
        <span class="ModalThanhVienclose">&times;</span>
        <p class="text-center" style="color:#cfd6d9">Thành Viên</p>
        <hr />
        <input class="input-modal-Thanh-Vien" type="text" name="" placeholder="Tìm kiếm thành viên....">
        <ul>
            <li class="li-thanh-vien">
                <div class="div-tron-left">PH</div>
                <span style="margin-top: 10px;">Phamsyhung(phmshng)</span>
                <img style="margin-left: 15px;display: none" id="img-check-thanhvien" src="Content/images/icon-check-24.png">
            </li>
        </ul>
    </div>
</div>

<div id="ModalSuaNhan" class="modal">
    <div class="modal-content">
        <div style="flex-direction: row;display: flex;">
            <span class="ModalBackNhan" onclick="showModelNhan()" style="width: 30%">&lt;</span>
            <p class="text-center" style="width: 40%">Sửa Nhãn</p>
            <span class="ModalSuaNhanclose text-right" style="width: 30%">&times;</span>
        </div>
        <hr />
        <div>
            <form action="">
                <span>Tên</span><br />
                <input class="input-modal-sua-nhan" type="text" name="nameNhan" />
                <span>Chọn một màu</span>
                <div class="div-mau">
                    <div class="divColor active" style="background-color :#61bd4f"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#f2d600"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#ff9f1a"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#eb5a46"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#c377e0"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#c377e0"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#0079bf"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#00c2e0"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#51e898"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#ff78cb"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#355263"
                         onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color:#b3bec4"
                         onclick="setActiveEditColor(this)"></div>
                </div>
                <input style="background-color: #5aac44;" type="submit" name="" value="Lưu" />
                <input style="background-color: #eb5a46" class="text-right" type="submit" name="" value="Xóa" />
            </form>
        </div>
    </div>
</div>

<div id="ModalNhan" class="modal">
    <div class="modal-content">
        <span class="ModalNhanclose">&times;</span>
        <p class="text-center" style="color:#cfd6d9">Nhãn</p>
        <hr />
        <input class="input-modal-nhan" type="text" name="" placeholder="Tìm nhãn.....">
        <ul>
            <li class="li-nhan active" onclick="activeNhan(this)">
                <div class="li-div-modal-nhan" style="background-color: #61bd4f">
                </div>
                <a class="li-a-modal-nhan" onclick="openModalSuaNhan()"><img src="Content/images/icon-edit-16.png" /></a>

            </li>
            <li class="li-nhan" onclick="activeNhan(this)">
                <div class="li-div-modal-nhan" style="background-color: #f2d600">
                </div>
                <a class="li-a-modal-nhan"><img src="Content/images/icon-edit-16.png" /></a>
            </li>
            <li class="li-nhan" onclick="activeNhan(this)">
                <div class="li-div-modal-nhan" style="background-color:#ff9f1a">
                </div>
                <a class="li-a-modal-nhan"><img src="Content/images/icon-edit-16.png" /></a>
            </li>
            <li class="li-nhan" onclick="activeNhan(this)">
                <div class="li-div-modal-nhan" style="background-color:#eb5a46">
                </div>
                <a class="li-a-modal-nhan"><img src="Content/images/icon-edit-16.png" /></a>
            </li>
            <li class="li-nhan" onclick="activeNhan(this)">
                <div class="li-div-modal-nhan" style="background-color:#c377e0">
                </div>
                <a class="li-a-modal-nhan"><img src="Content/images/icon-edit-16.png" /></a>
            </li>
            <li class="li-nhan" onclick="activeNhan(this)">
                <div class="li-div-modal-nhan" style="background-color:#0079bf">
                </div>
                <a class="li-a-modal-nhan"><img src="Content/images/icon-edit-16.png" /></a>
            </li>
        </ul>
        <a onclick="openModalThemNhan()">Tạo nhãn mới</a>
        <hr />
        <a>Bật Chế Độ Hỗ Trợ Người Mù Màu</a>
    </div>
</div>

<div id="ModalThemNhan" class="modal">
    <div class="modal-content">
        <div style="flex-direction: row;display: flex;">
            <span class="ModalBackNhan" onclick="showModelNhan()" style="width: 30%">&lt;</span>
            <p class="text-center" style="width: 40%">Thêm Nhãn</p>
            <span class="ModalThemNhanclose text-right" style="width: 30%">&times;</span>
        </div>
        <hr />
        <div>
            <form action="">
                <span>Tên</span><br />
                <input class="input-modal-them-nhan" type="text" name="nameNhan" />
                <span>Chọn một màu</span>
                <div class="div-mau">
                    <div class="divColor active" style="background-color :#61bd4f" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#f2d600" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#ff9f1a" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#eb5a46" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#c377e0" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#c377e0" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#0079bf" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#00c2e0" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#51e898" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#ff78cb" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#355263" onclick="setActiveEditColor(this)"></div>
                    <div class="divColor" style="background-color :#b3bec4" onclick="setActiveEditColor(this)"></div>
                </div>
                <input class="input-submit-modal-them-nhan" type="submit" name="" value="Thêm Mới" />
            </form>
        </div>
    </div>
</div>
<div id="ModalNgayHetHan" class="modal">
    <div class="modal-content">
        <span class="ModalNgayHetHanclose">&times;</span>
        <p class="text-center" style="color:#cfd6d9">Sửa Ngày hết hạn</p>
        <hr />
        <form>
            <span style="color:#7c8f99;font-size: 12px;">Ngày hết hạn</span>
            <input class="input-modal-Ngay-Het-Han" type="date" name="" style="background-color: #ebeef0;">
            <input class="input-modal-Ngay-Het-Han form-control" type="time" name="" style="background-color: #ebeef0;">
            <br />
            <input class="input-modal-Ngay-Het-Han" type="submit" value="Lưu" style="background-color: #5aac44;color:#fff" />
        </form>
    </div>
</div>

<div id="ModalSaoChep" class="modal">
    <div class="modal-content">
        <span class="ModalSaoChepclose">&times;</span>
        <p style="color:#cfd6d9">Sao Chép thẻ</p>
        <hr />
        <div>
            <form>
                <span style="color:#7c8f99;font-size: 12px;">Tiêu Dề</span>
                <textarea class="textarea-modal-Sao-Chep" rows="4"></textarea>
                <div class="div-modal-Sao-Chep" style="">
                    <label><b>Bảng</b></label>
                    <select class="select-modal-Sao-Chep">
                        <optgroup label="Bảng">
                            <option>A</option>
                            <option>Bảng không có tiêu đề</option>
                        </optgroup>
                    </select>
                </div>

                <div class="div1-modal-Sao-Chep">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 subdiv-div1-modal-Sao-Chep">
                        <label><b>Danh Sách</b></label>
                        <select class="select-modal-Sao-Chep">
                            <option>Cần làm</option>
                            <option>Đang làm</option>
                            <option>Đã làm</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subdiv1-div1-modal-Sao-Chep">
                        <label><b>Vị Trí</b></label>
                        <select class="select-modal-Sao-Chep">
                            <option>1 </option>
                        </select>
                    </div>
                </div>
                <input class="input-submit-modal-Sao-Chep" type="submit" value="Lưu">
            </form>

        </div>
    </div>
</div>

@* kết thức phần model *@

@section scripts{
    <script>
        $("#content-slider").lightSlider({
            loop: true,
            keyPress: true
        });

        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var ulli = document.getElementById("sub-parent");
            $(".parent").click(function () {
                if ($(this).prop("checked") == true) {
                    var className = ".phong-" + $(this).val();
                    $(className).css('display', "block");
                }
                else if ($(this).prop("checked") == false) {
                    var className = ".phong-" + $(this).val();
                    $(className).css('display', 'none');
                }
            });
        });


        function listProjectByProjectType1(e) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("loadlistProject", "Home")",
                data: { id: 1 },
                success: function (rps) {
                    $(".agile-grids").html(rps);
                }
            });
        }
        function chooseYear(e) {
            var year = $(e).data("id");
            $.ajax({
                type: "POST",
                url: "@Url.Action("loadlistProject", "Home")",
                data: { id: 2, year: year },
                success: function (rps) {
                    $(".agile-grids").html(rps);
                }
            });
            var modalListProject = document.getElementById('modal-list-project');
            modalListProject.style.display = "none";
        }

        function chooseProject(e) {
            var ProjectId = $(e).data("id");
            $.ajax({
                type: "POST",
                url: "@Url.Action("loadProgressWorking", "Home")",
                data: { ProjectId: ProjectId },
                success: function (rps) {
                    $("#progress-working").html(rps);
                }
            });
        }


        function addFolderByProject(e) {
            e.preventDefault();
            var FolderName = $("#FolderNameCreate").val();
            var FolderId = $("#FolderIdCreate").val();
            var ProjectId = $("#ProjectIdCreate").val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateFolderByProject","Home")",
                data: { FolderName: FolderName, FolderId: FolderId, ProjectId: ProjectId },
                success: function (rps) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("loadListFolderByProjectId","Home")",
                        data: { id: ProjectId },
                        success: function (rps) {
                            $(".working-left-top").html(rps);
                        }
                    });
                    var modalAddFolder = document.getElementById('ModalAddFolder');
                    modalAddFolder.style.display = "none";
                }
            });
        }
    </script>
}