<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập website quản lý công việc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/css/font.css" type="text/css" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/myfolder.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/myworking.css">
    <script src="~/Scripts/js/jquery2.0.3.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/myscript.js"></script>
    <script src="~/Scripts/js/myfolder.js"></script>
    <script src="~/Scripts/js/myworking.js"></script>
</head>
<body class="">
    <div class="progress-working-top">
        <div class="col-sm-12 col-md-10">
            <h3 class="project-name">Xây dựng website quản lý công việc</h3>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="row">
                <ul style="list-style: none; display: flex; flex-direction: row; justify-content: space-between;">
                    <li>
                        <button type="button" onclick="openModalFolder();" title="Thư Mục" id="open-modal-folder"><img src="Content/images/folder-icon-32.png" alt="" class="img-responsive"></button>
                    </li>
                    <li>
                        <button type="button" title="Thảo Luận" id="open-modal-discussion" onclick="openModalDiscussion();"><img src="Content/images/discussion-icon-32.png" alt="" class="img-responsive"></button>
                    </li>
                    <li>
                        <button type="button" title="Form Mẫu" data-toggle="modal" data-target="#ModalFormMau"><img src="Content/images/form-icon-32.png" alt="" class="img-responsive"></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="progress-working-bottom">
        <div class="wrap-all-progress" id="wrap-all-progress">
            <div class="progress-item">
                <div class="progress-title">
                    <span>Tiêu đề Tiêu đề Tiêu đề Tiêu đề </span>
                </div>
                <div class="list-content">
                    <div class="abc">
                        <div class="a-sub-content" title="">
                            <div class="div-sub-content">
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempore facilis eligendi, minus, enim harum optio eaque autem cumque praesentium provident nobis. Beatae tenetur vitae accusamus, cum odio pariatur, error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam tempore facilis eligendi, minus, enim harum optio eaque autem cumque praesentium provident nobis. Beatae tenetur vitae accusamus, cum odio pariatur, error.</span>
                            </div>
                            <div class="cover-sub-content" data-toggle="modal" data-target="#ModalDetailWork">

                            </div>
                            <i class="fa fa-pencil edit-sub-content text-right" data-id="1" onclick="openEditSubContent()"></i>
                        </div>
                    </div>
                    <div class="add-sub-project">
                        <textarea name="" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Thêm nội dung"></textarea>
                        <div class="div-action">
                            <a href="javascript:;" class="btn btn-success btn-do-add">Thêm mới</a>
                            <a href="javascript:;" class="cancel-add-new"><i class="fa fa-times"></i></a>
                            <a href="javascript:;" class="other-option"><i class="fa fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                </div>
                <div class="div-add-new-progress">
                    <a href="javascript:;" title="" class="a-add-new-job"><i class="fa fa-plus"> Thêm mới công việc</i></a>
                </div>
            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
            <div class="progress-item">

            </div>
        </div>
    </div>



    <div id="modal-discussion" class="modal-discussion">
        <div class="modal-discussion-content">
            <span class="close-modal-discussion">&times;</span>
            <div class="clearfix"></div>
            <div class="title text-center">
                <h3>Thảo Luận Công Việc</h3>
            </div>
            <div class="discussion-content">
                <div class="container-discussion-content">
                    <ul class="discussion-level-1" style="padding-left: 20px;">
                        @foreach (var lstProDiscussions in ViewBag.lstProjectDiscussionsByProjectId)
                        {
                            <li>
                                <div style="width: 8%; float: left; margin-right: 3%;">
                                    <img src="Content/images/avatar/@lstProDiscussions.EmployeeAvatar" alt="" style="width:40px;height:40px">
                                </div>
                                <div class="content-discusssion" style="width: 89%; float: left;">
                                    <a class="discussion-fullname">@lstProDiscussions.EmployeeFullname</a>
                                    <span class="discussion-content-text">@lstProDiscussions.DiscussionContent</span>
                                    <div>
                                        <a class="discussion-action">Thích</a>
                                        <a class="discussion-action">Bình luận</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="discussion-input input-discussion-level-1">
                    <div class="container-input-discussion" style="width: 97%; float: right;">
                        <form method="post" action="" onsubmit="insertProjectDiscussions(event)" style="width:100%;">
                            <textarea name="DiscussionContent" id="DiscussionContent" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden;"></textarea>
                            <div style="float:right">
                                <ul>
                                    <li class="a-hover-pointer">
                                        <a title="Tệp tin" alt="Tệp tin"><i class="fa fa-paperclip"></i></a>
                                    </li>
                                    <li>
                                        <input class="a-hover-pointer btn-comment" type="submit" title="Gửi" alt="Gửi" style="border-radius:4px" />
                                        @*<i class="fa fa-paper-plane-o"></i>*@
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="modal-folder" class="modal-folder">
        <div class="modal-folder-content">
            <div class="row">
                <div class="col col-sm-12">
                    <div class="list-option">
                        <ul>
                            <li><a onclick="AddFile(this)" style="border: none;"><img src="~/Content/images/add-24.png" title="thêm File" /></a></li>
                            <li>
                                <div class="search-folder">
                                    <input type="text" name="" class="inputSearchByProject" onchange="searchNameFileByProject(this)" disabled>
                                    <i class="fa fa-search"></i>
                                </div>
                            </li>
                            <li><a onclick="listFileByFolderCol3(this)" href="javascript:;" class="view-grid view-selected"><i class="fa fa-table"></i></a></li>
                            <li><a onclick="listFileByFolderCol6(this)" href="javascript:;" class="view-list"><i class="fa fa-list-alt"></i></a></li>
                            <span class="close-modal-Folder">&times;</span>
                        </ul>
                    </div>
                    <div id="ModalAddFileByProject" class="modal ">
                        <div class="modal-content">
                            <span class="ModalAddFileByProjectclose">&times;</span>
                            <p>Thêm folder</p>
                            <hr />
                            <div class="model-add-File-By-Project">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="clearfix"></div>
                <div class="col-sm-12 col-md-3">
                    <div class="working-left">
                        <div class="working-left-top">
                            <ul>
                                @foreach (var listFolder in ViewBag.lstFolderByProject)
                                {
                                    if (listFolder.ParentId == 0)
                                    {
                                        <li>
                                            <a href="javascript:;" title="" class="item-working item-working-Folder" data-id="@listFolder.FolderId" data-content="@ViewBag.ProjectId"><i class="fa fa-folder-o"></i>@listFolder.FolderName</a>
                                            <div class="list-sub-working">
                                                <ul>
                                                    @foreach (var listFolder1 in ViewBag.lstFolderByProject)
                                                    {
                                                        if (listFolder1.ParentId == listFolder.FolderId)
                                                        {
                                                            <li>
                                                                <a href="javascript:;" title="" class="item-working item-working-Folder" data-id="@listFolder1.FolderId" data-content="@ViewBag.ProjectId"><i class="fa fa-folder-o"></i><input type="text" name="" value="@listFolder1.FolderName" disabled="" onblur="updateNameFolder(this)" /></a>
                                                                <div class="list-sub-working">
                                                                    <ul>
                                                                        @foreach (var listFolder2 in ViewBag.lstFolderByProject)
                                                                        {
                                                                            if (listFolder2.ParentId == listFolder1.FolderId)
                                                                            {
                                                                                <li><a href="javascript:;" class="item-working item-working-Folder" data-id="@listFolder2.FolderId" data-content="@ViewBag.ProjectId"><i class="fa fa-folder-o"></i><input type="text" name="" value="@listFolder2.FolderName" disabled="" onblur="updateNameFolder(this)" /></a></li>
                                                                            }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                        <div class="working-left-bottom">
                            <button type="button" disabled="" class="btn-add-folder" onclick="openModalAddFolder()"><img src="Content/images/add-folder-32.png" class="img-responsive" /></button>
                            <div id="ModalAddFolder" class="modal">
                                <div class="modal-content">
                                    <span class="ModalAddFolderclose">&times;</span>
                                    <p>Thêm folder</p>
                                    <hr />
                                    <div class="model-add-Folder">

                                    </div>
                                </div>
                            </div>
                            <button type="button" disabled="" class="btn-edit-folder"><img src="Content/images/edit-folder-32.png" class="img-responsive" /></button>
                            <button onclick="deleteFolder(this)" type="button" disabled="" class="btn-delete-folder"><img src="Content/images/delete-foder-32.png" class="img-responsive" /></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="folder-right" style="height:460px;">
                        <div class="clearfix"></div>
                        <div class="row list-folder-right" style="height:100%;overflow:auto;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalFormMau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content-add-new-work">
                <div class="modal-header-add-new-work">
                    <h5 class="modal-title" id="exampleModalLabel" style="float: left;">Chọn Form Mẫu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <div id="sidebar-wrapper" class="sidebar-toggle" style="overflow: scroll;">
                                <ul>
                                    @*@foreach (var lstForm in ViewBag.Form)
                                    {
                                        <li>
                                            <div class="form-demo ">
                                                <input style="margin-top: 17px;" type="radio" name="checkFormMau">
                                                <div class="">
                                                    <ul class="sub-form-demo1">
                                                        @foreach (var item in ViewBag.FormContent)
                                                        {
                                                            <li>@Html.Raw(Json.Encode(@item))</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }*@
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-secondary text-left btn-width-80" style="background-color :#00bcd4;" onclick="openModalAddFormMau()">Thêm</a>
                            <a href="#" class="btn btn-secondary text-left btn-width-80" style="background-color :#ff9800;" onclick="openModalEditFormMau()">Sửa</a>
                            <button type="button" class="btn btn-secondary text-left btn-width-80" style="background-color :#eb5a46;">Xóa</button>
                            <button type="button" class="btn btn-secondary btn-width-80" data-dismiss="modal" style="background-color :gray;">Đóng</button>
                            <input type="submit" class="btn btn-primary btn-width-80" value="Chọn" style="background-color: green;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="modalAddFormMau" class="modal">
            <div class="modal-content">
                <span class="closeModalAddFormMau">&times;</span>
                <br />
                <br />
                <form>
                    <div class="text-center" style=""><b>Thêm From Mẫu</b></div>
                    <span>Nhập Số Bước</span>
                    <input class="form-control" type="number" min="1" max="20" name="" id="" value="7" style="background-color: #c1c1c1;border:none; color: #fff">
                    <br />
                    <div class="form-demo div-modal-add-formMau">
                        <div>
                            <ul class="sub-form-demo3">
                                <li>B1</li>
                                <li>B2</li>
                                <li>B3</li>
                                <li>B4</li>
                                <li>B5</li>
                                <li>B6</li>
                                <li>B7</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <input type="submit" class="btn-them-from-mau" name="" id="" value="Thêm" />
                </form>
            </div>
        </div>
        <div id="modalEditFormMau" class="modal">
            <div class="modal-content">
                <span class="closeModalEditFormMau">&times;</span>
                <br />
                <br />
                <form>
                    <div class="text-center" style=""><b>Sửa From Mẫu</b></div>
                    <span>Nhập Số Bước</span>
                    <input class="form-control" type="number" min="1" max="20" name="" id="" value="7" style="background-color: #c1c1c1;border:none; color: #fff">
                    <br />
                    <div class="form-demo div-modal-add-formMau">
                        <div>
                            <ul class="sub-form-demo3">
                                <li>B1</li>
                                <li>B2</li>
                                <li>B3</li>
                                <li>B4</li>
                                <li>B5</li>
                                <li>B6</li>
                                <li>B7</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <input type="submit" class="btn-them-from-mau" name="" id="" value="Sửa" />
                </form>
            </div>
        </div>
    </div>
    <script>
        // js cho click các thư mục bên trái
        var IdFolder = "";
        var IdProject = "";
        $(".item-working").dblclick(function () {
            // $(".item-working").removeClass("active");
            $(".list-action").css("display", "none");
            if ($(this).find("i").hasClass("fa-folder-o")) {
                $(this).find("i.fa-folder-o").removeClass("fa-folder-o").addClass("fa-folder-open-o").hasClass("fa-folder-o");
                $(this).siblings(':first').css("display", "block");
                var workingId = $(this).data("id");
                var projectId = $(this).data("content");
                IdFolder = workingId;
                IdProject = projectId;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("loadModelAddFolder", "Home")",
                    data: { id: workingId, ProjectId: projectId },
                    success: function (rps) {
                        $(".model-add-Folder").html(rps);
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("loadlistFileByFolderId", "Home")",
                    data: { id: IdFolder, ProjectId: IdProject },
                    success: function (rps) {
                        $(".list-folder-right").html(rps);
                    }
                });
            } else {
                $(this).find("i.fa-folder-open-o").removeClass("fa-folder-open-o").addClass("fa-folder-o").hasClass("fa-folder-open-o");
                $(this).siblings(':first').css("display", "none");
            }
            // $(this).addClass("active");
        });
        $(".item-working").click(function () {
            $(".item-working").removeClass("active");
            $(this).addClass("active");
            $(".btn-add-folder").removeAttr("disabled");
            $(".btn-edit-folder").removeAttr("disabled");
            $(".btn-delete-folder").removeAttr("disabled");
            IdFolder = $(this).data("id");
            IdProject = $(this).data("content");
            $(".inputSearchByProject").removeAttr('disabled');
            $.ajax({
                type: "POST",
                url: "@Url.Action("loadModelAddFolder", "Home")",
                data: { id: IdFolder, ProjectId: IdProject },
                success: function (rps) {
                    $(".model-add-Folder").html(rps);
                }
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("loadlistFileByFolderId", "Home")",
                data: { id: IdFolder, ProjectId: IdProject },
                success: function (rps) {
                    $(".list-folder-right").html(rps);
                }
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadModelAddFileByProject", "Home")",
                data: { id: IdFolder, ProjectId: IdProject },
                success: function (rps) {
                    $(".model-add-File-By-Project").html(rps);
                }
            });
        });
        function deleteFolder(e) {
            swal({
                title: "Bạn Có Muốn Xóa Không?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
              .then((willDelete) => {
                  if (willDelete) {
                      $.ajax({
                          type: "POST",
                          url: "@Url.Action("DeleteFolder", "Home")",
                          data: { id: IdFolder },
                          success: function (rps) {
                              $.ajax({
                                  type: "POST",
                                  url: "@Url.Action("loadListFolderByProjectId","Home")",
                                  data: { id: IdProject },
                                  success: function (rps) {
                                      $(".working-left-top").html(rps);
                                  }
                              });
                          }
                      });
                  } else {
                      return false;
                  }
              });
        }
        function updateNameFolder(e) {
            var content = $(e).val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateNameFolder","Home")",
                data: { id: IdFolder, FolderName: content, ProjectId: IdProject },
                success: function (rps) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("loadListFolderByProjectId","Home")",
                        data: { id: IdProject },
                        success: function (rps) {
                            $(".list-folder-right").html(rps);
                        }
                    });
                }
            });
        }
        function listFileByFolderCol3(e) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("loadlistFileByFolderId", "Home")",
                data: { id: IdFolder, ProjectId: IdProject },
                success: function (rps) {
                    $(".list-folder-right").html(rps);
                }

            });
        }
        function listFileByFolderCol6(e) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("loadlistFileByFolderIdCol6", "Home")",
                data: { id: IdFolder, ProjectId: IdProject },
                success: function (rps) {
                    $(".list-folder-right").html(rps);
                }
            });
        }

        function insertProjectDiscussions(e) {
            e.preventDefault();
            var DiscussionContent = $("#DiscussionContent").val()
            if (DiscussionContent == "" || DiscussionContent == undefined) {

            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("insertProjectDiscussions", "Home")",
                    data: { DiscussionContent: DiscussionContent },
                    success: function (rps) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("loadContentChat", "Home")",
                            data: {},
                            success: function (rps) {
                                $(".discussion-level-1").html(rps);
                            }
                        });
                        $("#DiscussionContent").val("");
                    }
                });

            }
        }

        function searchNameFileByProject(e) {
            var name = $(e).val();
            var namestr = name.trim();
            $.ajax({
                type: "POST",
                url: "@Url.Action("searchFileByProject", "Home")",
                data: { id: IdFolder, name: namestr, idProject: IdProject },
                success: function (rps) {
                    $(".list-folder-right").html(rps);
                }
            });
        }
        function AddFile(e) {
            var ModalAddFileByProject = document.getElementById('ModalAddFileByProject');
            var ModalAddFileByProjectclose = document.getElementsByClassName("ModalAddFileByProjectclose")[0];
            if (IdFolder > 0) {
                ModalAddFileByProject.style.display = "block";
                ModalAddFileByProjectclose.onclick = function () {
                    ModalAddFileByProject.style.display = "none";
                }
                window.onclick = function (event) {
                    if (event.target == ModalAddFileByProject) {
                        ModalAddFileByProject.style.display = "none";
                    }
                }
            }

        }

        function addfileByProject(e) {
            e.preventDefault();
            var FolderId = $("#FolderId").val();
            var ProjectId = $("#ProjectId").val();
            var file = $("#files").get(0);
            var files = file.files;
            var fileData = new FormData();
            fileData.append('FolderId', FolderId);
            fileData.append('ProjectId', ProjectId);
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Home/addFileByFolderIdByProject",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {
                    if (result == 'True') {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("loadlistFileByFolderId", "Home")",
                            data: { id: IdFolder, ProjectId: IdProject },
                            success: function (rps) {
                                $(".list-folder-right").html(rps);
                            }
                        });
                    }
                }
            });
            var ModalAddFileByProject = document.getElementById('ModalAddFileByProject');
            ModalAddFileByProject.style.display = "none";
        }

        @*var values = @Html.Raw(Json.Encode(@ViewBag.FormName));
        console.log("aaaaa: "+values);*@
        //Call EmpDetails jsonResult Method
        //$.getJSON("Home/EmpDetails",
        //function (json) {
        //    alert(json)
        //    var tr;
        //    //Append each row to html table
        //    for (var i = 0; i < json.length; i++) {
        //        tr = $('<tr/>');
        //        tr.append("<td>" + json[i].Id + "</td>");
        //        tr.append("<td>" + json[i].Name + "</td>");
        //        tr.append("<td>" + json[i].City + "</td>");
        //        tr.append("<td>" + json[i].Address + "</td>");
        //        $('table').append(tr);
        //    }
        //});
    </script>
</body>
</html>
